In [3]:
import pandas as pd

df = pd.read_csv(r"C:/Users/Administrator/Documents/business-analytics-platform/data/Details.csv")
df.head()

,Order ID,Amount,Profit,Quantity,Category,Sub-Category,PaymentMode
0,B-25681,1096,658,7,Electronics,Electronic Games,COD
1,B-26055,5729,64,14,Furniture,Chairs,EMI
2,B-25955,2927,146,8,Furniture,Bookcases,EMI
3,B-26093,2847,712,8,Electronics,Printers,Credit Card
4,B-25602,2617,1151,4,Electronics,Phones,Credit Card

In [4]:
#Check Missing Values
df.isnull().sum()

Order ID        0
Amount          0
Profit          0
Quantity        0
Category        0
Sub-Category    0
PaymentMode     0
dtype: int64

In [6]:
#Remove Duplicates
df = df.drop_duplicates()

In [13]:
#Fix Column Names
df.columns = (
    df.columns
    .str.strip()
    .str.lower()
    .str.replace(" ", "_")
    .str.replace("-", "_")
)

df.columns

df.to_csv("C:/Users/Administrator/Documents/business-analytics-platform/data/cleaned_details.csv", index=False)

In [9]:
#Fix Data Types
df['amount'] = pd.to_numeric(df['amount'], errors='coerce')
df['profit'] = pd.to_numeric(df['profit'], errors='coerce')
df['quantity'] = pd.to_numeric(df['quantity'], errors='coerce')

In [10]:
#Handle Missing Values
df = df.dropna()

In [11]:
#Save Cleaned Data
df.to_csv("C:/Users/Administrator/Documents/business-analytics-platform/data/cleaned_details.csv", index=False)