In [1]:
import pandas as pd

df = pd.read_csv(r"C:/Users/Administrator/Documents/business-analytics-platform/data/Details.csv")
df.head()

,Order ID,Amount,Profit,Quantity,Category,Sub-Category,PaymentMode
0,B-25681,1096,658,7,Electronics,Electronic Games,COD
1,B-26055,5729,64,14,Furniture,Chairs,EMI
2,B-25955,2927,146,8,Furniture,Bookcases,EMI
3,B-26093,2847,712,8,Electronics,Printers,Credit Card
4,B-25602,2617,1151,4,Electronics,Phones,Credit Card

In [2]:
kpis = {
    "Total Sales": df['Amount'].sum(),
    "Total Profit": df['Profit'].sum(),
    "Profit Margin (%)": (df['Profit'].sum() / df['Amount'].sum()) * 100,
    "Average Order Value": df.groupby('Order ID')['Amount'].sum().mean(),
    "Total Quantity Sold": df['Quantity'].sum()
}

kpis

{'Total Sales': 437771,
 'Total Profit': 36963,
 'Profit Margin (%)': 8.443455596647562,
 'Average Order Value': 875.542,
 'Total Quantity Sold': 5615}